.bg-image-container {
    /* width: 40%;
    position: absolute;
    display: inline-block;
    vertical-align: top;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 50%;
    max-width: 720px; */
    overflow: hidden;
}

@media only screen and (min-width: 960px) {
    .row .col-l6 {
        width: 50%;
    }
}

.container-bb {
    position: relative;
    width: 60%;
}

.bg-brand {
    padding: 0 !important;
    z-index: -2;
}

@media (min-width: 1200px) {
    .bg-container {
        max-width: 100%;
    }
}

.row-display {
    width: 75%;
    margin: auto;
    padding: 80px 0;
    z-index: 10000;
    background-color: #295EA1;
}

.w-100 {
    width: auto !important;
    position: absolute;
    height: 800px;
    top: -25px;
    left: -200px;
    z-index: -1;
}